//Font Partial
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: $gold;
    font-weight: 600;
}

h4 {
    color: $gold;
    font-weight: 600;
}
